* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PoppinsBlack";
  src: url("../../font/Poppins-Black.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsBlackItalic";
  src: url("../../font/Poppins-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../../font/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsBoldItalic";
  src: url("../../font/Poppins-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsExtraBold";
  src: url("../../font/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsExtraBoldItalic";
  src: url("../../font/Poppins-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../../font/Poppins-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsLight";
  src: url("../../font/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsLightItalic";
  src: url("../../font/Poppins-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../../font/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsMediumItalic";
  src: url("../../font/Poppins-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../../font/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../../font/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsSemiBoldItalic";
  src: url("../../font/Poppins-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsThin";
  src: url("../../font/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsThinItalic";
  src: url("../../font/Poppins-ThinItalic.ttf") format("truetype");
}
.saladeMesure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.saladeMesure .leftMesure {
  padding: 80px;
}
.saladeMesure .leftMesure h2 {
  font-size: 52px;
  color: #B2D234;
}
.saladeMesure .leftMesure p {
  padding-top: 30px;
  font-size: 18px;
}
.saladeMesure img {
  width: 1200px;
}
.saladeMesure button {
  padding: 10px 30px 10px 30px;
  background-color: #B2D234;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

@media screen and (max-width: 748px) {
  .saladeMesure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .saladeMesure .leftMesure {
    padding: 90px;
    text-align: center;
  }
  .saladeMesure .leftMesure h2 {
    font-size: 64px;
  }
  .saladeMesure .leftMesure p {
    font-size: 28px;
  }
  .saladeMesure img {
    width: 1560px;
  }
}
header {
  background-image: linear-gradient(to bottom, rgba(176, 175, 255, 0.7), rgba(0, 255, 85, 0.3)), url("src/img/luisa-brimble-2RrBE90w0T8-unsplash.jpg");
  background-size: cover;
  height: 1000px;
}
header .navBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar img {
  width: 200px;
}
header .navBar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}
header .navBar ul li {
  list-style: none;
  padding: 50px;
}
header .navBar ul a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "PoppinsLight", sans-serif;
}
header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-top: 200px;
}
header .title h1 {
  font-size: 126px;
  font-family: "PoppinsMedium", sans-serif;
}
header .title p {
  font-size: 54px;
  font-family: "PoppinsItalic", sans-serif;
}
header .socialMedia {
  font-size: 36px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  padding-top: 350px;
}
header .socialMedia i {
  padding: 10px;
}

.fa-bars {
  display: none;
}

@media screen and (max-width: 748px) {
  header {
    height: 900px;
    width: 1200px;
  }
  header li {
    display: none;
  }

  .fa-bars {
    display: block;
    color: white;
    font-size: 36px;
    padding-left: 90px;
  }
}
footer {
  background-color: #B2D234;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 70px;
  color: white;
}
footer img {
  width: 300px;
}
footer h3 {
  font-size: 27px;
  font-family: "PoppinsMedium", sans-serif;
}
footer p {
  padding-top: 10px;
  font-size: 18px;
  font-family: "PoppinsLight", sans-serif;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 50px;
    width: 1190px;
  }
  footer h3 {
    font-size: 30px;
  }
  footer p {
    font-size: 24px;
  }
}
.preparePlace {
  background-image: url("src/img/ismael-trevino-NDyuR4Huig8-unsplash.jpg");
  background-size: cover;
  height: 1000px;
  padding-top: 100px;
  padding-right: 100px;
}
.preparePlace .transparentGreen {
  background-color: rgba(178, 210, 50, 0.7);
  color: white;
  margin-left: 1000px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 90px;
}
.preparePlace .transparentGreen h2 {
  font-size: 52px;
  font-family: "PoppinsMedium", sans-serif;
}
.preparePlace .transparentGreen p {
  font-size: 18px;
  padding: 20px;
  font-family: "PoppinsLight", sans-serif;
}
.preparePlace .transparentGreen button {
  background-color: #B2D234;
  padding: 10px 30px 10px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

@media screen and (max-width: 748px) {
  .preparePlace {
    height: 1000px;
    width: 1155px;
  }
  .preparePlace .transparentGreen {
    margin-left: 130px;
  }
  .preparePlace .transparentGreen h2 {
    font-size: 64px;
  }
  .preparePlace .transparentGreen p {
    font-size: 28px;
  }
}
.menuList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.menuList .centerLine {
  text-align: center;
  padding: 20px;
}
.menuList .centerLine h2 {
  font-size: 52px;
  color: #B2D234;
  font-family: "PoppinsMedium", sans-serif;
}
.menuList .centerLine p {
  font-size: 18px;
  padding-top: 20px;
  font-family: "PoppinsLight", sans-serif;
}
.menuList .bottomLine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 50px;
}
.menuList .bottomLine h3 {
  font-size: 24px;
  padding-top: 30px;
  color: #B2D234;
  font-family: "PoppinsMedium", sans-serif;
}
.menuList .bottomLine p {
  font-size: 18px;
  padding-top: 10px;
  font-family: "PoppinsLight", sans-serif;
}
.menuList .bottomLine .forces {
  padding: 100px;
  text-align: center;
}
.menuList .bottomLine .forces .greenforce {
  font-size: 64px;
}
.menuList .bottomLine .forces .blueforce {
  font-size: 64px;
  color: #60A0D8;
}
.menuList .bottomLine .forces p {
  padding: 20px;
  font-size: 18px;
}
.menuList .bottomLine .forces button {
  padding: 10px 30px 10px 30px;
  background-color: #B2D234;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.menuList .bottomLine .allMenu {
  padding: 100px;
}
.menuList .bottomLine .halfhalf {
  border: 1px solid #B2D234;
}
.menuList .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 748px) {
  .menuList {
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menuList .bottomLine {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .menuList .bottomLine h3 {
    font-size: 30px;
  }
  .menuList .bottomLine p {
    font-size: 25px;
  }
  .menuList .allMenu {
    padding: 200px;
  }
  .menuList .forces {
    padding: 10px;
    text-align: center;
  }
  .menuList .forces .greenforce {
    font-size: 32px;
  }
  .menuList .forces .blueforce {
    font-size: 32px;
    color: #60A0D8;
  }
  .menuList .forces p {
    padding: 20px;
    font-size: 18px;
  }
  .menuList .forces button {
    padding: 10px 30px 10px 30px;
    background-color: #B2D234;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 24px;
  }
}
.greenBlue {
  background-image: url("src/img/louis-hansel-MlPD-AzZYMg-unsplash.jpg");
  background-size: cover;
  color: white;
  padding: 90px;
}
.greenBlue .blueGreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 120px;
  text-align: center;
}
.greenBlue .greenAll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #B2D23494;
}
.greenBlue .greenAll .rowGreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 80px;
}
.greenBlue .greenAll .rowGreen .leftGreen {
  padding: 90px;
}
.greenBlue .greenAll h3 {
  font-size: 52px;
  padding: 20px;
  font-family: "PoppinsMedium", sans-serif;
}
.greenBlue .greenAll p {
  font-size: 18px;
  font-family: "PoppinsLight", sans-serif;
}
.greenBlue .blueAll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #60A0D894;
}
.greenBlue .blueAll .rowBlue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 90px;
}
.greenBlue .blueAll .rowBlue .rightBlue {
  padding: 100px;
}
.greenBlue .blueAll h3 {
  font-size: 52px;
  padding: 20px;
  font-family: "PoppinsMedium", sans-serif;
}
.greenBlue .blueAll p {
  font-size: 18px;
  font-family: "PoppinsLight", sans-serif;
}
.greenBlue .seperatorBlueGreen {
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .greenBlue {
    width: 1170px;
  }
  .greenBlue .blueGreen {
    padding: 10px;
  }
}
.envie {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.envie img {
  width: 800px;
}
.envie .leftEnvie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
}
.envie .leftEnvie h2 {
  font-size: 52px;
  font-family: "PoppinsMedium", sans-serif;
  color: #B2D234;
}
.envie .leftEnvie p {
  font-size: 18px;
  padding: 20px;
  text-align: center;
  font-family: "PoppinsLight", sans-serif;
}
.envie .leftEnvie .formAll {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #B2D234;
  font-family: "PoppinsItalic", sans-serif;
}
.envie .leftEnvie .formAll .names {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.envie .leftEnvie .formAll .names .rowName {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.envie .leftEnvie .formAll .names .rowName label {
  margin-right: 5px;
  font-size: 23px;
}
.envie .leftEnvie .formAll .formNames {
  padding: 20px;
}
.envie .leftEnvie .formAll .formNames input {
  padding: 10px;
  font-size: 18px;
  color: #B2D234;
}
.envie .leftEnvie .formAll .emailMotivation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 20px;
}
.envie .leftEnvie .formAll .emailMotivation .email {
  padding-right: 200px;
  padding-top: 20px;
}
.envie .leftEnvie .formAll .emailMotivation .motivation {
  padding-top: 50px;
  padding-right: 200px;
}
.envie .leftEnvie .formAll .emailMotivation label {
  margin-bottom: 10px;
  font-size: 23px;
}
.envie button {
  padding: 10px 30px 10px 30px;
  background-color: #B2D234;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .envie {
    padding: 100px;
  }
  .envie img {
    width: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
