.saladeMesure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftMesure {
        padding: 80px;
        h2 {
            font-size: 52px;
            color: #B2D234;
        }
        p {
            padding-top: 30px;
            font-size: 18px;
        }
    }
    img {
        width: 1200px;
    }
    button {
        padding: 10px 30px 10px 30px;
        background-color: #B2D234;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 24px
    }
}

@media screen and (max-width: 748px) {
    .saladeMesure {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .leftMesure {
            padding: 90px;
            text-align: center;
            h2 {
                font-size: 64px;
            }
            p {
                font-size: 28px;
            }
        }
        img {
            width: 1560px;
        }
    }
}