footer {
    background-color: #B2D234;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 70px;
    color: white;
    img {
        width: 300px;
    }
    h3 {
        font-size: 27px;
    }
    p {
        padding-top: 10px;
        font-size: 18px;
    }
}