.preparePlace {
    background-image: url("src/img/ismael-trevino-NDyuR4Huig8-unsplash.jpg");
    background-size: cover;
    height: 1000px;
    padding-top: 100px;
    padding-right: 100px;
    .transparentGreen {
        background-color: hsla(72, 64%, 51%, 0.7);
        color: white;
        margin-left: 1000px;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 90px;
        h2 {
            font-size: 52px;
            font-family: 'PoppinsMedium', sans-serif;
        }
        p {
            font-size: 18px;
            padding: 20px;
            font-family: 'PoppinsLight', sans-serif;
        }
        button {
            background-color: #B2D234;
            padding: 10px 30px 10px 30px;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 24px
        }
    }
}

@media screen and (max-width: 748px)  {
    .preparePlace {
        height: 1000px;
        width: 1155px;
        .transparentGreen {
            margin-left: 130px;
            h2 {
                font-size: 64px;
            }
            p {
                font-size: 28px;
            }
        }
    }
}

.menuList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    .centerLine {
        text-align: center;
        padding: 20px;
        h2 {
            font-size: 52px;
            color: #B2D234;
            font-family: 'PoppinsMedium', sans-serif;
        }
        p {
            font-size: 18px;
            padding-top: 20px;
            font-family: 'PoppinsLight', sans-serif;
        }
    }
    .bottomLine {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 50px;
        h3 {
            font-size: 24px;
            padding-top: 30px;
            color: #B2D234;
            font-family: 'PoppinsMedium', sans-serif;
        }
        p {
            font-size: 18px;
            padding-top: 10px;
            font-family: 'PoppinsLight', sans-serif;
        }
        .forces {
            padding: 100px;
            text-align: center;
            .greenforce {
                font-size: 64px;
            }
            .blueforce {
                font-size: 64px;
                color: #60A0D8;
            }
            p {
                padding: 20px;
                font-size: 18px;
            }
            button {
                padding: 10px 30px 10px 30px;
                background-color: #B2D234;
                color: white;
                border: none;
                border-radius: 5px;
                font-size: 24px
            }
        }
        .allMenu {
            padding: 100px;
        }
        .halfhalf {
            border: 1px solid #B2D234;
        }
    }
    .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 748px)  {
    .menuList {
        padding: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .bottomLine {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            h3 {
                font-size: 30px;
            }
            p {
                font-size: 25px;
            }
        }
        .allMenu {
            padding: 200px;
        }
        .forces {
            padding: 10px;
            text-align: center;
            .greenforce {
                font-size: 32px;
            }
            .blueforce {
                font-size: 32px;
                color: #60A0D8;
            }
            p {
                padding: 20px;
                font-size: 18px;
            }
            button {
                padding: 10px 30px 10px 30px;
                background-color: #B2D234;
                color: white;
                border: none;
                border-radius: 5px;
                font-size: 24px
            }
        }
    }
}

.greenBlue {
    background-image: url("src/img/louis-hansel-MlPD-AzZYMg-unsplash.jpg");
    background-size: cover;
    color: white;
    padding: 90px;
    .blueGreen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 120px;
        text-align: center;
    }
    .greenAll {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #B2D23494;
        .rowGreen {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 80px;
            .leftGreen {
                padding: 90px;
            }
        }
        h3 {
            font-size: 52px;
            padding: 20px;
            font-family: 'PoppinsMedium', sans-serif;
        }
        p {
            font-size: 18px;
            font-family: 'PoppinsLight', sans-serif;
        }
    }
    .blueAll {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #60A0D894;
        .rowBlue {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 90px;
            .rightBlue {
                padding: 100px;
            }
        }
        h3 {
            font-size: 52px;
            padding: 20px;
            font-family: 'PoppinsMedium', sans-serif;
        }
        p {
            font-size: 18px;
            font-family: 'PoppinsLight', sans-serif;
        }
    }
    .seperatorBlueGreen {
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {
    .greenBlue {
        width: 1170px;
        .blueGreen {
            padding: 10px;
        }
    }
}

.envie {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 800px;
    }
    .leftEnvie {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 80px;
        h2 {
            font-size: 52px;
            font-family: 'PoppinsMedium', sans-serif;
            color: #B2D234;
        }
        p {
            font-size: 18px;
            padding: 20px;
            text-align: center;
            font-family: 'PoppinsLight', sans-serif;
        }
        .formAll {
            padding: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #B2D234;
            font-family: 'PoppinsItalic', sans-serif;
            .names {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                .rowName {
                    display: flex;
                    flex-direction: column;
                    margin-right: 10px;
                    label {
                        margin-right: 5px;
                        font-size: 23px;
                    }
                }
            }
            .formNames {
                padding: 20px;  
                input {
                    padding: 10px;
                    font-size: 18px;
                    color: #B2D234;
                }
            }
            .emailMotivation {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                padding-bottom: 20px;
                .email {
                    padding-right: 200px;
                    padding-top: 20px;
                }
                .motivation {
                    padding-top: 50px;
                    padding-right: 200px;
                }
                label {
                    margin-bottom: 10px;
                    font-size: 23px;
                }
            }
        }
    }
    button {
        padding: 10px 30px 10px 30px;
        background-color: #B2D234;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 24px
    }
}

@media screen and (max-width: 768px){
    .envie {
        padding: 100px;
        img {
            width: 600px;
        }
    }
}